.route-link {
    color: #ffffff;
    padding: 0px 10px;
    text-decoration: none;
}
.route-link:hover{
    color:#023323;
}

.route-links {
    margin: auto;
    padding: 0px 5px;
}

.title {
    margin: auto;
}